
<div class="content-wrap">
	<div class="main-title">
		<ul class="grid effect-8" id="grid">
			<li>
				<h4>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州痣缘宫专门解决您的面子问题，传承六代家传古方，结合现代科技，开发出能彻底解决痣、疣、斑、痘等系列产品，历经六代人验证的结果，让数千万人因与痣缘宫牵手而变得更加美丽，更多的人因为痣缘宫而成为制造美丽，传递健康的美丽使者!</h4>
				<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;痣缘宫已成功培训技师1500多位，其中有大学本科、硕士研究生，博士生他们分别来自于医院、美容院、媒体、直销业、传统老板、保险业、下岗职工等各个领域，群英聚集。痣缘宫专营店已经辐射到了北京、福建、山东、新疆、上海、内蒙古、湖北、四川、陕西、浙江、江苏、山西、宁夏、青海、广东、贵州、天津、河南、河北等各大省市。
					放眼未来，为了更好的服务于大众！痣缘宫广纳善言，开拓创新，内部管理始终坚持“以人为本”，不断完善和深化内部管理体系，为进一步发展奠定坚实的基础。视诚信为生命，始终遵循“信誉的积累就是财富的积累”的价值观，更相信品牌源于口碑，口碑源于共鸣。
				</h4>
			</li>
		</ul>

	</div>
</div>


