<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>郑州痣缘宫华忠兰店</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/custom-styles.css" rel="stylesheet">
<link href="css/image-effects.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/font-awesome-ie7.css">

<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/modernizr.custom.js"></script>

</head>

<body>
	<div class="container page-styling">
		<div class="header-wrapper">
			<div class="site-name">
				<h1>痣缘宫华忠兰店</h1>
			</div>
			<div class="menu">
				<div class="navbar">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav ">
							<li><a href="index">首页</a></li>
							<li class="dropdown"><a href="#"
								class="dropdown-toggle active" data-toggle="dropdown">关于我们 <b
									class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li id="story"><a href="#" onclick="menuClick('about/story')">我们的故事</a></li>
									<li><a href="#">我们的优势</a></li>
									<li><a href="#">我们的形象</a></li>
									<li><a href="#">我们的愿景</a></li>
								</ul></li>
							<li class="dropdown "><a href="#"
								class="dropdown-toggle active" data-toggle="dropdown">关于痣 <b
									class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="#">痣的由来</a></li>
									<li><a href="#">古人看痣</a></li>
								</ul></li>
							<li><a href="#"></a></li>
							<li><a href="#">客户案例</a></li>
							<li><a href="#">常见问题</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="content"></div>

	</div>

	<!-- /container -->

	<div class="container">
		<div class="copy-rights">
			版权所有©痣缘宫华忠兰店<br> 地址:河南省郑州市二七区大学路政通路陈砦花卉市场南门往东10米痣缘宫
		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/imagesloaded.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/AnimOnScroll.js"></script>

	<script>
		$(function() {
			$("#content").load("main");
		});
		var menuClick = function(menuUrl) {
			$("#content").load(menuUrl);
		};
	</script>
</body>
</html>
