<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!-- Bootstrap link -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="all" />
<!-- CSS stylesheet end-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	
	
	
	
		
	 addEventListener("load", function() { 
		 setTimeout(hideURLbar, 0); }, false); 
	 function hideURLbar(){ window.scrollTo(0,1); } 





</script>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/modernizr.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			start : function(slider) {
				$('body').removeClass('loading');
			}
		});
	});
	$(function() {
		$("#main").load("main");
	});
	var menuClick = function(menuUrl) {
		$("#main").load(menuUrl);
	};
</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" /></a>
			</div>
			<div class="menu">
				<a class="toggleMenu" href="#"><img src="images/nav_icon.png"
					alt="" /> </a>
				<ul class="nav" id="nav">
					<li class="current"><a href="index" class="scroll">首页</a></li>
					<li><a href="#" class="scroll" onclick="menuClick('us')">关于我们</a></li>
					<li><a href="#" class="scroll" onclick="menuClick('product')">关于痣</a></li>
					<li><a href="#" class="scroll" onclick="menuClick('customer')">客户案例</a></li>
					<li><a href="#" class="scroll" onclick="menuClick('problem')">常见问题</a></li>
					<li><a href="#" class="scroll" onclick="menuClick('contact')">联系我们</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Header ends here -->
	<!-- Banner starts here -->
	<div id="main"></div>
	<div class="footer">
		<div class="container">
			<div class="row footer-row">
				<div class="clearfix"></div>
			</div>
			<p class="footer-row-para">版权所有 &copy;郑州痣缘宫华忠兰店</p>
		</div>
	</div>
	<!-- Footer ends here-->
</body>
</html>