<!DOCTYPE HTML>
<html>
<head>
<title>痣缘宫郑州总部</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	 addEventListener("load", function() { 
		 setTimeout(hideURLbar, 0); }, false); 
	 function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/modernizr.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			start : function(slider) {
				$('body').removeClass('loading');
			}
		});
	});
	$(function() {
		$("#header").load("header");
		$("#footer").load("footer");
	});
</script>
</head>
<body>
	<div class="header" id="header"></div>
	<div class="container">
		<div class="features">
			<div class="row services-row">
				<div class="services-row-column">
					<h3>关于痣</h3>
					<p>
						痣斑痘疣的形成原因：<br />因为内分泌失调，情绪失控，空气污染，饮食无规律，运气不佳，辐射或垃圾食品，疾病等多方面原因，导致气血循环有障碍，使黑色素及毒素不能正常排除体外，而凝结于皮肤上，从而形成痣、斑、痘、疣。
						人吃五谷杂粮，身体里每天都有黑色素在我们没有感觉的状态下在分泌，如同长头发一样，是个自然的新陈代谢过程，没有办法阻止，人活到老，痣长到老，长痣是件很正常的过程。只有刚出生的婴儿不长痣，据不完全统计，只有1%的出生婴儿刚出生长痣，我们大多数人的痣是后天长的，也许从几个月开始长，也有几岁开始长痣的。长痣如同加法运算，1+1+1。。。。。直到有一天痣长的多了，自己对自己的形象更在意了，才会注意到不知不觉长的痣。
						更没有母痣之说，不是长一颗大痣就会长很多小痣，母痣取了，其它痣就没了，或者再不长痣了。痣和痣性质不同，形成的原因不同，长出来大小就不同，形态也不同，无论哪种痣都是从针尖大一点开始长的，有的长的相对快点，能长五、六毫米大或更大点，有的小时候长，长到成年人也还是一毫米左右，这都是很正常的。
						要说的是有一种痣比较特殊，叫胎记型血管痣，这种痣本身会长的比较大，而且在痣的周围会像卫星一样分布一些小痣，这种痣的形成原因是皮下血管病变引起的，很多时候把这种痣通常叫母痣。这种痣不身不健康，为了健康，长了这种痣的人建议多关注痣，不舒服了建议到医院及早取除。
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" id="footer"></div>
</body>
</html>