<!DOCTYPE HTML>
<html>
<head>
<title>痣缘宫郑州总部</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=yes" />
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#phone").trigger("click");
	});
</script>
</head>
</head>

<body>
	<div class="container" style="text-align:center">
		<div class="row services-row">
			<h3><font color="red">点击号码一键拨号</font></h3>
			<a href="tel:18603867626"><span id="phone">18603867626</span></a>
		</div>
		
	</div>
</body>
</html>