<!DOCTYPE HTML>
<html>
<head>
<title>痣缘宫郑州总部</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	
		
	 addEventListener("load", function() { 
		 setTimeout(hideURLbar, 0); }, false); 
	 function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/modernizr.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			start : function(slider) {
				$('body').removeClass('loading');
			}
		});
	});
	$(function() {
		$("#header").load("header");
		$("#footer").load("footer");
	});
</script>
</head>
<body>
	<div class="header" id="header"></div>
	<div class="container">
		<div class="row about-us-row">
			<div class="col-md-8 about-us-column">
				<h2>关于我们</h2>
				<div class="row few-words-row">
					<div class="col-md-6 few-words-row-column">
						<img src="images/about_us.jpg" />
					</div>
					<div class="col-md-6 few-words-row-column">
						<h4>公司简介</h4>
						<p>
							华富好痣缘宫郑州总店成立于2018年3月.是郑州地区最大最专业的专营专做取痣服务的痣缘宫专营店.
							华忠兰和华忠菊严格遵守师训，秉承“以诚为本、以和为贵、以信为先”的经营理念，把诚实守信定为店面生存之本.
							从点点滴滴做起，从开业以来来，赢得了广大爱美人士的认可与信任.<br />天地有道，道法自然，七十二行，行行有师！<br />
							华氏古方痣缘宫取痣堂，迄今已有三个多世纪，广为民间传颂！2007年华富好美容服务有限公司成立，创始人华富好先生，
							传承华氏古方，结合现代科技，以安全高效，真正做到了取痣不留疤，达到现代传统取痣方法所不能及的效果，
							祛痣产品2008年通过国家卫生部批准，被誉为华夏祛痣尖端品牌.<br />
						</p>
					</div>
					<p class="few-p">
						华富好出生于华氏世家，以痣为业，并独创技法。在传承古方祛痣的同时，
						也传承了以痣造福百姓的神圣使命，更立志将其发扬光大。结合上古玄说，建立出独立的痣学文化，
						让更多的人因为养好痣，取障痣，而生活的更美！凭借高尚的痣德，广为传颂，被誉为痣圣。<br />
						痣圣华富好，传承六代古方取痣法，以痣为业，造福百姓，以痣文化为核心，树立科学取痣的典范， 用神奇的效果缔造了痣行业的权威！<br />
						华忠兰是华富好亲传弟子，是华氏痣业第七代传人，痣圣亲传 艺高礼善。
					</p>
				</div>
			</div>
			<div class="col-md-4 about-us-column ">
				<h3>我们的优势</h3>
				<p class="ourvision">国内最大痣服务与痣文化研究机构，纯植物配方，可洗脸洗澡，恢复快,不留疤</p>
				<p class="ourvision1">痣缘宫是国内最大最专业的祛痣服务与痣文化研究机构，在全国有400余家专营店，专业祛痣、斑、痘、疣</p>
				<p class="ourvision2">痣缘宫采用纯草本植物配方祛痣，兼痣相咨询、残痣修复于一体的一站式全程跟踪服务模式</p>
				<p class="ourvision3">痣缘宫祛痣不手术、不麻醉、不激光，当场见效结痂，不耽搁正常的工作和学习</p>
				<p class="ourvision4">痣缘宫目前已帮助千万用户祛除障痣，受到广大客户的好评，在全国拥有非常优异的口碑</p>
				<p class="ourvision5">痣缘宫古法祛痣历史悠久，其祛痣产品获国家卫生部批准</p>
			</div>
		</div>
		<div class="testimonals">
			<h3>店内风采</h3>
			<p>我们热切欢迎广大客户前来咨询.地址：郑州市二七区大学路政通路陈砦花卉市场南门往东10米</p>
		</div>
		<div class="row">
			<div class="col-md-4 ">
				<div class="class3-row-column">
					<img src="images/us1.jpg" />
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="class3-row-column">
					<img src="images/us2.jpg" />
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="class3-row-column">
					<img src="images/us3.jpg" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 ">
				<div class="class3-row-column">
					<img src="images/us4.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="footer" id="footer"></div>
</body>
</html>
